form {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 30px;
  background: white;
  border-radius: 15px;
  padding: 40px;
}

.login__header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.login__header h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #3399ff;
}

.login__main {
  display: flex;
  flex-direction: column;
}

.login__main br {
  color: black;
}

.login__main label {
  font-size: 14px;
  display: flex;
  margin-bottom: 3px;
}

input {
  border-radius: 4px;
  padding: 5px;
  border: none;
  background: #d3d9df;
  height: 35px;
  cursor: pointer;
}

select {
  border-radius: 4px;
  border: none;
  padding: 5px;
  background: #d3d9df;
  height: 35px;
  cursor: pointer;
}

.login__footer {
  display: flex;
  justify-content: center;
}

.login__footer button {
  border: none;
  background: #3399ff;
  padding: 5px;
  width: 400px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  height: 35px;
  font-size: 15px;
  cursor: pointer;
}
